<div fxLayout="column"
     fxLayoutGap="2em">
  <div [fxFlexOrder]="1" *ngIf="uploadInProgress$ | async; let uploadsInProgress;">
    <mat-card>
      <mat-card-content>
        <span fxLayoutAlign="center"><mat-icon style="font-size: 3em" color="warn" >cloud_upload</mat-icon></span>
        <div *ngFor="let upload of uploadsInProgress">
          <h4>File: {{upload.file.name}}</h4>
          <mat-progress-bar mode="determinate" [value]="upload.percentage" style="height: 20px"></mat-progress-bar>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button (click)="close()">Ok</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>




