<div fxLayout="column"
     fxLayoutGap="2em">
  <div [fxFlexOrder]="1">
    <mat-card>
      <mat-card-content>
        <span fxLayoutAlign="center"><mat-icon style="font-size: 3em" color="warn" >cloud_upload</mat-icon></span>
        <div *ngFor="let upload of uploadInProgress$ | async">
          <h4>File: {{upload.data.name}}</h4>
          <mat-progress-bar mode="determinate" [value]="upload.percentage" style="height: 20px"></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>




