<div class="main-component"
     fxLayout="column"
     fxLayoutGap="2em">
  <app-innotech-product-navbar [title]="'Create new Product'"></app-innotech-product-navbar>
  <div [fxFlexOrder]="2">
    <div fxLayout="row">
      <div fxFlex="30" fxLayout="column" fxFlexOffset="35" fxLayoutGap="2em">
        <div>
          <mat-card fxLayout="column wrap" fxLayoutGap="1em">
            <app-innotech-image-area [name]="uid" (newImageUploaded)="imageUploaded($event)"></app-innotech-image-area>
            <form [formGroup]="createForm" (ngSubmit)="submit()">
              <mat-card-content>
                <mat-form-field fxFlexFill>
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="type product name here" formControlName="name" fxFlex="100" >
                  <mat-hint>Pick a Good name of 3 or more characters</mat-hint>
                  <mat-error *ngIf="
                    name.hasError('minLength') ||
                    name.hasError('required')">
                    Name must be 3 or more Characters
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlexFill>
                  <mat-label>Price</mat-label>
                  <input type="number" matInput placeholder="Type price here" formControlName="price" fxFlex="100">
                  <mat-hint>The price should be higher the 0, we have to make some money</mat-hint>
                  <mat-error *ngIf="
                    price.hasError('min') ||
                    price.hasError('required')">
                    Price must be a number above 0
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions fxLayoutAlign="end">
                <mat-checkbox color="warn" [checked]="stay" (change)="goToOverviewChanged()" >Go To Overview on save</mat-checkbox>
                <button [disabled]='!createForm.valid' mat-raised-button type="submit">Create</button>
              </mat-card-actions>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>




