<div class="main-component"
     fxLayout="column"
     fxLayoutGap="2em">
  <div [fxFlexOrder]="1">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1>
          Create new Product
        </h1>
        <span style="margin-left: 10px"></span>
        <button mat-raised-button color="accent"
                aria-label="Products Overview"
                (click)="gotToOverview()">
          <mat-icon>list</mat-icon> Product Overview
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div [fxFlexOrder]="2">
    <div fxLayout="row">
      <div fxFlex="60" fxLayout="column" fxFlexOffset="20" fxLayoutGap="2em">
        <div>
          <form [formGroup]="createForm">
            <mat-card fxLayout="column wrap" fxLayoutGap="1em">
              <mat-form-field fxFlexFill>
                <mat-label>Name</mat-label>
                <input matInput placeholder="type product name here" formControlName="name" fxFlex="100" >
              </mat-form-field>
              <mat-form-field fxFlexFill>
                <mat-label>Url</mat-label>
                <input matInput placeholder="Type url for image here" formControlName="url" fxFlex="100">
              </mat-form-field>
              <mat-form-field fxFlexFill>
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="Type price here" formControlName="price" fxFlex="100">
              </mat-form-field>
              <button mat-raised-button (click)="submit()">Create</button>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




