.mat-card .last-child {
  margin-bottom: 0;
}

.small-text {
  font-size: 36px;
  font-weight: bold;
}

.medium-text {
  font-size: 48px;
  font-weight: bold;
}

.big-text {
  font-size: 64px;
  font-weight: bold;
}
