<div class="main-component"
     fxLayout="column"
     fxLayoutGap="2em">
  <div [fxFlexOrder]="2">
    <h1>Products Overview</h1>
    <div fxLayout="row wrap"
         fxLayoutAlign="space-around center"
         fxLayoutGap="4em grid">
      <div [fxFlex]="cardWidth"
           [fxFlex.sm]="cardWidth * 2"
           [fxFlex.xs]="cardWidth * 2"
           *ngFor="let product of products$ | async ">
        <mat-card (click)="goToDetails(product)"
                  matRipple
                  class="pointer-card">
          <img mat-card-image
               [@simpleFadeAnimation]="'in'"
               [src]="product.url"
               alt="Photo of {{product.name}}">
          <mat-card-content class="last-child">
            <mat-list>
              <h1 mat-subheader>{{product.name}}</h1>
              <h3 mat-subheader>Price: {{product.price}},- DKK</h3>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
