/* You can add global styles to this data, and also import other style files */
.main-component{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.pointer-card {
  cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
