@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css data for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hairdresser-app-primary: mat-palette($mat-light-green, 50, 100, 900);
$hairdresser-app-accent:  mat-palette($mat-green, 700, 500, 900);

// The warn palette is optional (defaults to red). #FEDBD0
$hairdresser-app-warn:    mat-palette($mat-red, 900);

// Create the theme object (a Sass map containing all of the palettes).
$hairdresser-app-theme: mat-light-theme($hairdresser-app-primary, $hairdresser-app-accent, $hairdresser-app-warn);

$primary: mat-color($hairdresser-app-primary);
$accent: mat-color($hairdresser-app-accent);
$warn: mat-color($hairdresser-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hairdresser-app-theme);
